#box{
    width: 500px;
    height: 100px;
    background-color: lightblue;
    transition-duration: 1000ms;
    
}
#box2{
    width: 500px;
    height: 100px;
    background-color: rgb(45, 145, 179);
    transition-duration: 1000ms
    

}

#box3{
    width: 500px;
    height: 100px;
    background-color: rgb(63, 76, 80);
    transition-duration: 1000ms

}


#box4{
    width: 500px;
    height: 100px;
    background-color: rgb(215, 215, 38);
    transition-duration: 1000ms


}